@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 27.27% 97.84%;
    --foreground: 220.91 39.29% 10.98%;
    --muted: 217.5 26.67% 94.12%;
    --muted-foreground: 216.92 19.12% 26.67%;
    --popover: 220 27.27% 97.84%;
    --popover-foreground: 220.91 39.29% 10.98%;
    --card: 220 27.27% 97.84%;
    --card-foreground: 220.91 39.29% 10.98%;
    --border: 218.82 27.87% 88.04%;
    --input: 218.82 27.87% 88.04%;
    --primary: 152.95 100% 37.84%;
    --primary-foreground: 220 27.27% 97.84%;
    --secondary: 217.5 26.67% 94.12%;
    --secondary-foreground: 216.92 19.12% 26.67%;
    --accent: 217.5 26.67% 94.12%;
    --accent-foreground: 216.92 19.12% 26.67%;
    --destructive: 10 87% 27%;
    --destructive-foreground: 10 87% 87%;
    --ring: 152.95 100% 37.84%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220.91 39.29% 10.98%;
    --foreground: 0 0% 100%;
    --muted: 215 27.91% 16.86%;
    --muted-foreground: 217.89 10.61% 64.9%;
    --popover: 220.91 39.29% 10.98%;
    --popover-foreground: 0 0% 100%;
    --card: 220.91 39.29% 10.98%;
    --card-foreground: 0 0% 100%;
    --border: 216.92 19.12% 26.67%;
    --input: 216.92 19.12% 26.67%;
    --primary: 152.95 100% 37.84%;
    --primary-foreground: 220.91 39.29% 10.98%;
    --secondary: 215 27.91% 16.86%;
    --secondary-foreground: 220 13.04% 90.98%;
    --accent: 215 27.91% 16.86%;
    --accent-foreground: 220 13.04% 90.98%;
    --destructive: 0 90.6% 70.78%;
    --destructive-foreground: 220.91 39.29% 10.98%;
    --ring: 152.95 100% 37.84%;
  }
}

/* @layer base {
  :root {
    --background: 258 70% 100%;
    --foreground: 258 77% 0%;
    --muted: 258 29% 85%;
    --muted-foreground: 258 10% 40%;
    --popover: 258 70% 100%;
    --popover-foreground: 258 77% 0%;
    --card: 258 70% 100%;
    --card-foreground: 258 77% 0%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 258 58% 37%;
    --primary-foreground: 258 58% 97%;
    --secondary: 258 19% 81%;
    --secondary-foreground: 258 19% 21%;
    --accent: 258 19% 81%;
    --accent-foreground: 258 19% 21%;
    --destructive: 19 98% 27%;
    --destructive-foreground: 19 98% 87%;
    --ring: 258 58% 37%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 258 53% 3%;
    --foreground: 258 40% 97%;
    --muted: 258 29% 15%;
    --muted-foreground: 258 10% 60%;
    --popover: 258 53% 3%;
    --popover-foreground: 258 40% 97%;
    --card: 258 53% 3%;
    --card-foreground: 258 40% 97%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 258 58% 37%;
    --primary-foreground: 258 58% 97%;
    --secondary: 258 15% 10%;
    --secondary-foreground: 258 15% 70%;
    --accent: 258 15% 10%;
    --accent-foreground: 258 15% 70%;
    --destructive: 19 98% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 258 58% 37%;
  }
} */

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-scrollbars ::-webkit-scrollbar {
  background-color: transparent;
  height: 0.6em;
  width: 0.6em;
}

.custom-scrollbars ::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--muted) / 1);
  background-color: hsl(var(--muted) / var(--tw-bg-opacity));
}

.custom-scrollbars ::-webkit-scrollbar-thumb {
  border-radius: 0.6em;
  --tw-bg-opacity: 0.2;
  background-color: hsl(var(--muted-foreground) / 0.2);
  background-color: hsl(var(--muted-foreground) / var(--tw-bg-opacity));
}

.custom-scrollbars ::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 0.4;
  background-color: hsl(var(--muted-foreground) / 0.4);
  background-color: hsl(var(--muted-foreground) / var(--tw-bg-opacity));
}

.animated-path {
  transition:
    clip-path 3s ease,
    -webkit-clip-path 3s ease;
}

::selection {
  color: hsl(var(--primary-foreground));
  background: hsl(var(--primary) / 0.4);
}
